@media (max-width: 1700px) {
  .fix {
    right: 0px;

    left: 0px;
  }
  .nav {
    max-width: 900px;
    margin-left: 20px;
    /*margin: 0 auto 0 20px;*/
  }
  .social {
    margin-left: 15px;
    margin-right: 0;
  }
  .block-menu__item {
    padding: 17px;
    margin-right: 10px;
  }
  .accent {
    margin: 0 15px;
    width: 160px;
  }
  .adpt-1 {
    margin-right: 50px;
    padding-right: 50px;
  }
  .header{
   object-fit: contain;
   background-position: center center;
    
  }
}
@media (max-width: 1200px) {
  .fix {
    display: none;
  }
  .mobile-menu {
    visibility: visible;
  }
  .block-author {
    margin-top: 50px;
  }
 .author-text{
   width: 300px;
   height: 200px;
 
 }
 .header{
   background-position: center top;
   height: 100px;
   margin-top:0;
 }
 .position{
   width: 60px;
   height: 60px;
   padding:1px;
   bottom: -40px;
 }
 .author-img{
   width: 60px;
   height: 60px;
 }
 .author-text h3 {
  line-height: 1;
  font-size: 40px;
  font-weight: 300;
  text-transform: capitalize;
}
.author-text p {
  line-height: 0;
  font-size: 20;
  font-weight: 300;
  text-transform: capitalize;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin:0;
}
}