.fix {
  z-index: 2;
  top: 5px;
  margin: 0 auto;
  position: fixed;
}
.line-top {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  height: 1px;
  width: 1200px;
}
.social ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.social-item {
  padding-left: 5px;
  box-shadow: transparent;
}
.social {
  display: inline;
  margin: 0 5px 0 110px;
}
.social-item svg {
  color: black;
  font-size: 25px;
  transition-property: color;
  transition-duration: 0.7s;
}
.social-item:hover svg {
  color: #722b2f;
}
.menu-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  margin: 0 auto;
}
.nav {
  background: transparent;
  height: 60px;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin: 0 auto 0 100px;
  align-items: center;
}
.block-menu {
  padding: 10px;
  list-style-type: none;
  display: flex;
  margin: 0 auto;
}
.block-menu__item {
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 38px;
  padding-left: 38px;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;

  border: 1px solid transparent;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 1s;
}
.block-menu__item:hover {
  border: 1px solid transparent;
  background-color: #a5a5a5;
}
.accent {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 30px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 800;
  margin: 0 auto;
  color: rgba(211, 194, 39, 0.849);
  margin-left: -20px;
  box-shadow: transparent;
  transition-property: color;
  transition-duration: 0.6s;
}
.accent-img {
  margin-top: 25px;
  margin-left: -29px;
  background-image: url(../img/tcoi.jpg);
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 90px;
  box-shadow: 0px 0px 12px 1px black;
  transition-property: box-shadow;
  transition-duration: 0.6s;
}
.accent:hover .accent-img {
  box-shadow: 0px 0px 15px 10px rgba(247, 222, 6, 0.849);
}
.accent:hover {
  color: black;
}
.line-bottom {
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  height: 1px;
  width: 1200px;
}
.header {
  margin-top: 17px;
  height: 400px;
  background-image: url(../img/head-2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  filter: saturate(0.6);
  position: relative;
  display: flex;
  justify-content: space-around;
}
.position {
  position: absolute;
  margin: 0 auto;
  border-radius: 90px;
  border: 1px solid white;
  bottom: -70px;
  padding: 4px;
  background-color: white;
}
.block-author {
  margin-top: 110px;
  text-align: center;
  font-family: "Russo One", sans-serif;
  position: relative;
}
.author-img {
  background-image: url(../img/author.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 90px;
  border: 1px solid white;
}
.author-text {
  background-image: url(../img/chernovik.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5px;
  margin: 0 auto 150px auto;
  align-items: center;
  border: 1px solid black;
  height: 250px;
  width: 500px;
}
.author-text h3 {
  line-height: 1;
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
}
.author-text p {
  line-height: 0;
  font-size: 25px;
  font-weight: 300;
  text-transform: capitalize;
}
.history {
  background-color: white;
  justify-content: space-between;
  display: flex;
  padding: 50px;
}
.history-img {
  padding-top: 50px;
}
.history-text {
  font-family: "Open Sans", sans-serif;
  text-align: start;
}
.history-text p {
  font-size: 20px;
  font-weight: 300;
}
.history-text h2 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.photo{
  padding-top:50px;
}
.photo-grid {
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  justify-items: center;
  background-color: white;
  
}
.photo-grid-item {
  object-fit: cover;
  width: 400px;
  height: 400px;
  margin: 5px;
  filter: grayscale(50%);
}
.photo-grid-item:hover {
  filter: none;
}
.video-text {
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  margin-left: 100px;
}
.head-3 {
  padding-top: 100px;
  margin-left: 100px;
  font-family: "Russo One", sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 0.1;
}
.video-text h3 {
  padding-top: 100px;
  font-family: "Russo One", sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 0.1;
}
.video-text p {
  text-align: start;
  font-size: 15px;
  font-weight: 300;
}
.video-text a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.video-text:hover a {
  color: rgb(225, 95, 65);
}
.block-video {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  justify-items: center;
}
.video-item {
  align-items: center;
  background-color: wheat;
  padding-bottom: 40px;
  background-color: white;
  padding-left: 70px;
  margin: 0 ;
  
  overflow: hidden;
 
  align-items: center;
  object-fit: cover;
  margin: 1px;
}
.footer {
  height: 40px;
  padding: 0;
  background-color: linear-gradient(45deg, #935522, #371923);
  place-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}
 .footer:hover{
  visibility: visible;
  background-color: linear-gradient(45deg, #935522, #371923);
}
.btn-up a {
  display: inline;
  color: #5f5a576e;
  font-size: 35px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.footer small {
  color: rgba(73, 71, 71, 0.637);
  text-align: end;
  
}

/*.canchor {
  margin: 100px 0 0 0;
  display: none;
}*/
.mobile-menu {
  visibility: hidden;
}

#section2 img {
  left: 130%;
  position: relative;
}
#section2 p,
#section2 h1 {
  display: none;
}



