body {
  background-color: #f5f6fa;
}
.header {
  height: 500px;
  background-image: url(../img/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.block-menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
.block-menu__item {
  margin-right: 3px;
  padding-left: 15px;
  text-decoration: none;
  color: rgb(225, 95, 65);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
}
.block-menu__item:hover {
  color: rgba(225, 95, 65, 0.7);
}
.logo {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  align-items: flex-start;
  text-transform: uppercase;
}
.accent {
  color: rgb(255, 236, 137);
  margin-left: 80px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 5px;
}
.accent:hover {
  color: rgba(255, 236, 137, 0.8);
  border: 1px solid rgb(225, 95, 65);
  border-radius: 3px;
  padding: 5px;
}

.block-author {
  text-align: center;
  font-family: "Russo One", sans-serif;
  position: relative;
}
.author-img {
  background-image: url(../img/author.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  top: 0;
  border-radius: 90px;
  border: 1px solid white;
  filter: grayscale(50%);
}
.author-img:hover {
  filter: none;
}
.position {
  position: absolute;
  margin: 0 auto;
  border-radius: 90px;
  border: 1px solid white;
  bottom: -70px;
  padding: 4px;
  background-color: white;
}
.author-text {
  padding-top: 60px;
}
.author-text h3 {
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
}
.author-text p {
  font-size: 25px;
  font-weight: 300;
  text-transform: capitalize;
}
.social {
  margin: 0 auto;
  padding-top: 10px;
}
.social-item {
  color: #722b2f;
  display: inline;
  padding: 0px;
  margin: 15px;
}
.social-item svg {
  color: #bc591e;
  font-size: 25px;
}
.social-item:hover svg {
  color: #722b2f;
}
.history {
  background-color: white;
  grid-template: 1fr / 1fr 1fr;
  display: grid;
  margin-top: 70px;
  padding: 50px;
  justify-content: center;
  margin: 0 50px;
  padding-top: 300px;
}
.history-text {
  font-family: "Open Sans", sans-serif;
  text-align: start;
}
.history-text p {
  font-size: 20px;
  font-weight: 300;
}
.history-text h2 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.history-img {
  object-fit: cover;
  justify-self: end;
}
.blog-grid {
  margin: 0 50px;
  overflow: hidden;
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  justify-items: center;
}
.grid-item {
  object-fit: cover;
  width: 400px;
  height: 400px;
  margin: 5px;
  filter: grayscale(50%);
}
.grid-item:hover {
  filter: none;
}
.video-text {
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
}
.video-text p {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 300;
}
.video-text a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
}
.video-text:hover a {
  color: rgb(225, 95, 65);
}
.block-video {
  padding-left: 70px;
  margin: 0 auto;
  display: grid;
  overflow: hidden;
  grid-template: 1fr 1fr / 1fr 1fr;
  align-items: flex-end;
}
.video-item {
  object-fit: cover;
  margin: 5px;
}

.footer {
  background: linear-gradient(45deg, #935522, #371923);
  place-items: center;
  padding: 40px;
}
.btn-up a {
  display: inline;
  color: #bc591e;
  font-size: 35px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.footer small {
  color: whitesmoke;
  text-align: end;
}
.btn-up:hover {
  color: rgb(255, 236, 137);
}
.head-3 {
  padding-top: 100px;
  font-family: "Russo One", sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
  margin-left: 100px;
}
